# --------------------------------
# NOTION
# --------------------------------

NOTION_TOKEN=ntn_xxxxxxxxxxxxx

NOTION_USERS_DATA_SOURCE_ID=
NOTION_POLICIES_DATA_SOURCE_ID=
NOTION_RESOURCES_DATA_SOURCE_ID=
NOTION_ACCESS_TRACKING_DATA_SOURCE_ID=


# --------------------------------
# GITHUB APP
# --------------------------------

GITHUB_APP_ID=123456
GITHUB_INSTALLATION_ID=12345678
GITHUB_PRIVATE_KEY_PATH=./secrets/github-app.pem

GITHUB_ORG=your-org-name


# --------------------------------
# APPLICATION
# --------------------------------

NODE_ENV=development